@font-face {
	font-family: 'title';
	src: url('../font/minecraft.ttf');

}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	color: white;
	font-family: 'title' !important;
}
.animate_container{
  position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -2;
	position: fixed;
}
.title{
	text-align: center;
	opacity: 1;
	font-size: 5rem;
	color:  white;
	font-family: 'title' !important;
	letter-spacing: 20px;
	-webkit-transform: translateY(-50px);
	transform: translateY(-50px);
-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	margin-top: -30px;
text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
-webkit-animation: text-pop-up-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
input[type="text"]{
	font-size: 1.5rem;
	border: none;
	outline: none;
	padding: 0.5rem;
	border-radius: 15px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.258);
	padding: 16px;
	width: 500px;
	align-self: flex-start;
	border-radius: 17px;
background: #e0e0e0;
box-shadow: 0px 10px 0px 0px #505050 ;
transition: all 0.3s ease-in-out;
font-family: 'title';

}
input[type="text"]:focus{
	box-shadow: 0px 0px 0px 0px #505050 ;
	transform: translateY(10px);
	box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.352);
}
#task-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.task-container {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 1rem;
  flex-direction: column;
  width: 55rem;
  max-height: 400px;
	min-height: 400px;
  margin-top: 50px;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(222, 168, 168, 0.186);
	backdrop-filter: blur(4px);
  overflow-y: auto;
	box-shadow: 2px -1px 100px 6px rgba(255, 255, 255, 0.115) inset, 0px 0px 10px 10px rgba(246, 226, 226, 0.167);
	font-family: ' title' !important;
	transition: all 0.3s ease-in-out;
	animation: appear 2s ease-in-out, shadow-flicker 2s infinite;
	border: 2px solid var(--green);
	--green: rgba(234, 248, 242, 0.475);
}
.task-list{
	display: flex;
	justify-content: center;
	flex-direction: column;
  margin-top: 3rem;
	font-size: 1.5rem;
	font-family: 'title';
	width: 600px;
	flex-wrap: wrap;
	white-space: wrap;
	overflow-wrap: break-word;
	word-break: break-all;
}
li{
	box-shadow: 0px 0px 10px rgb(248, 226, 226) inset;
	padding: 16px;
	border-radius: 14px;
	margin-bottom: 25px;
	transition: all 0.3s ease-in-out;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
 color: rgb(255, 255, 255);
 animation: appear 0.3s ease-in-out;
}
	.blur-background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.2s ease-in-out;
	border-radius: 12px;
}
.delete-task, .complete-task {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.delete-task{
		width: 40px;
		position: absolute;
		height: 40px;
		background: linear-gradient(to bottom, #ff0000, #b03232);		border: none;
		border-radius:0;
		padding-top: 5px;
		left: 40%;
		box-shadow: 0px 5px 0px 0px rgb(5, 2, 2), inset 0px 0px 10px 2px rgba(0, 0, 0, 0.5);}
.complete-task{
		width: 40px;
		height: 40px;
		position: absolute;
		background: linear-gradient(to bottom, #00ff00, #32b032);		border: none;
		border-radius:0;
		right: 40%;
		box-shadow: 0px 5px 0px 0px rgb(5, 2, 2), inset 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
	}
.buttons-img{
	width: 25px;
	height: 25px;
}
.buttons-img2{
	width: 35px;
	height: 35px;
}
.delete-task:active, .complete-task:active {
	transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 0px 0px rgb(5, 2, 2);
	transform: translateY(5px);
}
.delete-task:hover, .complete-task:hover {
	transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 0px 0px rgb(5, 2, 2);
	transform: scale(1.1);
}

@keyframes shadow-flicker {
  0% {
    box-shadow: 2px -1px 100px 6px rgba(255, 255, 255, 0.115) inset, 0px 0px 10px 10px rgba(217, 193, 193, 0.167);
  }
  20% {
    box-shadow: 2px -1px 100px 6px rgba(255, 255, 255, 0.212) inset, 0px 0px 10px 10px rgba(217, 193, 193, 0.167);
	}
	40% {
		box-shadow: 2px -1px 100px 6px rgba(255, 255, 255, 0.115) inset, 0px 0px 10px 10px rgba(217, 193, 193, 0.167);
	}
	60% {
		box-shadow: 2px -1px 100px 6px rgba(255, 255, 255, 0.115) inset, 0px 0px 10px 10px rgba(217, 193, 193, 0.167);
	}
	80% {
		box-shadow: 2px -1px 100px 6px rgba(255, 255, 255, 0.115) inset, 0px 0px 10px 10px rgba(217, 193, 193, 0.167);}
  100% {
    box-shadow: 2px -1px 100px 6px rgba(255, 255, 255, 0.115) inset, 0px 0px 10px 10px rgba(217, 193, 193, 0.167);
  }
}

#task_count{
	font-size: 2.5rem;
	text-align: center;
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					margin-top: 5rem;
}

@keyframes text-pop-up-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes appear {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
#score{
	margin-left: 10px;
}
:root{
	--green: #1BFD9C;
}
li[status="completed"] {
  text-decoration: line-through;
  color:  #20f99f;
   box-shadow: inset 0px 0px 10px 2px  #5df0b3;;
	 opacity: 0.5;
}
.button-container{
 display: flex;
 flex-direction: column;
	width: 8rem;
	height: 400px;
	position: absolute;
	top: 35%;
	left: 7%;
}
.button-container button{
	margin-bottom: 5rem;
}
	 .button-container button {
		--green: #e1f4ec;
		font-size: 15px;
		padding: 0.7em 2.7em;
		letter-spacing: 0.06em;
		position: relative;
		font-family: inherit;
		border-radius: 0.6em;
		overflow: hidden;
		transition: all 0.3s;
		line-height: 1.4em;
		border: 2px solid var(--green);
		background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
		color: var(--green);
		box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
		white-space: nowrap;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 4rem;
		animation: appear 2s ease-in-out;
		box-shadow: 0px 0px 10px 10px #e1f4ec24;
	}
	
	.button-container button:hover {
		color: #82ffc9;
		box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
	}
	
	.button-container button:before {
		content: "";
		position: absolute;
		left: -4em;
		width: 4em;
		height: 100%;
		top: 0;
		transition: transform .4s ease-in-out;
		background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
	}
	
	.button-container button:hover:before {
		transform: translateX(15em);
	}
	.button-container2{
		display: flex;
		flex-direction: column;
		 width: 8rem;
		 height: 400px;
		 position: absolute;
		 top: 35%;
		 right: 7%;
	 }
	 .button-container2 button{
		 margin-bottom: 5rem;
	 }
			.button-container2 button {
			 --green: rgb(192, 45, 16);
			 font-size: 15px;
			 padding: 0.7em 2.7em;
			 letter-spacing: 0.06em;
			 position: relative;
			 font-family: inherit;
			 border-radius: 0.6em;
			 overflow: hidden;
			 transition: all 0.3s;
			 line-height: 1.4em;
			 border: 2px solid var(--green);
			 background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
			 color: var(--green);
			 box-shadow: inset 0 0 10px rgba(253, 27, 42, 0.4), 0 0 9px 3px rgba(253, 27, 27, 0.1);
			 white-space: nowrap;
			 display: flex;
			 align-items: center;
			 justify-content: center;
			 height: 4rem;
			 animation: appear 2s ease-in-out;
			 box-shadow: 0px 0px 10px 3px  var(--green);
		 }
		 
		 .button-container2 button:hover {
			 color: rgb(255, 130, 130);
			 box-shadow: inset 0 0 10px rgba(253, 27, 27, 0.6), 0 0 9px 3px rgba(253, 27, 27, 0.2);
		 }
		 
		 .button-container2 button:before {
			 content: "";
			 position: absolute;
			 left: -4em;
			 width: 4em;
			 height: 100%;
			 top: 0;
			 transition: transform .4s ease-in-out;
			 background: linear-gradient(to right, transparent 1%, rgba(207, 66, 66, 0.1) 40%,rgba(235, 76, 76, 0.1)60% , transparent 100%);
		 }
		 
		 .button-container2 button:hover:before {
			 transform: translateX(15em);
		 }
		 @keyframes glow {
			0%, 100% {
				filter: drop-shadow(0 0 10px rgb(233, 91, 91)) drop-shadow(0 0 15px rgb(232, 81, 99));
			}
			50% {
				filter: drop-shadow(0 0 20px rgb(236, 104, 104)) drop-shadow(0 0 30px rgb(231, 103, 103));
			}
		}
		#allDone{
			--green: #51cf9b;
		font-size: 15px;
		padding: 0.7em 2.7em;
		letter-spacing: 0.06em;
		position: relative;
		font-family: inherit;
		border-radius: 0.6em;
		overflow: hidden;
		transition: all 0.3s;
		line-height: 1.4em;
		border: 2px solid var(--green);
		background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
		color: var(--green);
		box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
		white-space: nowrap;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 4rem;
		animation: appear 2s ease-in-out;
		box-shadow: 0px 0px 10px 10px rgba(0, 255, 149, 0.386);
		}
		